.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.user {
    &-avatar {
        @extend .center;

        &__icon {
            @extend .center;
            --size: 150px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            font-size: 40px;
            background-color: #222;
            color: #fff;
        }
    }

    &-info {

        .form-row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
        }

        label {
            font-weight: 600;
        }

        &__change {
            @extend .center;
            justify-content: flex-end;
            gap: 10px;

            button {
                border-radius: 5px;
                border: none;
                color: #fff;
                font-size: 18px;

                &:first-child {
                    padding: 6px 20px;
                    background-color: #e74c3c;
                }

                &:nth-child(2) {
                    padding: 6px 30px;
                    background-color: #3498db;
                }

                &:last-child {
                    padding: 6px 10px;
                    background-color: #f39c12;
                }
            }

            button.hide {
                background-color: #aaa;
                user-select: none;
                pointer-events: none;
            }
        }
    }

    &-tab {
        margin-top: 10px;

        &__list {
            @extend .center;
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 10;
            gap: 10px;

            li {
                padding-bottom: 5px;
                border-width: 0 0 1px 0;
                border-style: solid;
                border-color: currentColor;
                transition: 0.3s;
                cursor: pointer;
                font-weight: 600;
                color: #aaa;
            }

            .active,
            li:hover {
                color: #000;
            }
        }
    }
}

.table {
    th {
        font-weight: 600;
    }

    &-btn {
        background-color: transparent;
        border: none;
        font-size: 18px;
        padding: 4px 10px;
        color: #fff;
        border-radius: 4px;
        transition: 0.3s;
        background-color: #2ecc71;
        display: inline-block;

        &:hover {
            opacity: 0.9;
        }

        &--cancel {
            background-color: #e74c3c;
        }
    }

    :not(.table-btn:first-child, i) {
        margin-left: 10px;
    }

}

input:read-only {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    user-select: none;
}