@mixin fish($image, $deg, $width, $height, $action, $time) {
    background-image: url('~/assets/images/banners/' + $image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    z-index: -1;
    top: auto;
    transform: rotate($deg + deg);
    width: $width;
    height: $height;
    animation: $action $time linear infinite;
}

.box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    .banner {
        width: 100%;
        height: 60vh;
        position: relative;
        margin: 20px 0;
        overflow: hidden;

        &-group {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('~/assets/images/banners/la-troi.gif');
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            .fish {
                &:first-child {
                    @include fish('ca1.gif', 0, 25%, 50%, action1, 50s);
                }

                &:nth-child(2) {
                    @include fish('ca2.gif', 70, 25%, 50%, action2, 60s);
                }

                &:nth-child(3) {
                    @include fish('ca3.gif', -20, 25%, 50%, action3, 30s);
                }

                &:nth-child(4) {
                    @include fish('ca4.gif', 120, 25%, 50%, action4, 45s);
                }

                &:nth-child(5) {
                    @include fish('ca5.gif', -35, 25%, 50%, action5, 35s);
                }

                &:nth-child(6) {
                    @include fish('canho1.gif', 150, 20%, 40%, action6, 25s);
                }

                &:nth-child(7) {
                    @include fish('canho2.gif', 250, 20%, 40%, action7, 35s);
                }

                &:nth-child(8) {
                    @include fish('canho3.gif', 250, 20%, 40%, action8, 35s);
                }

                &:last-child {
                    @include fish('canho5.gif', 235, 20%, 40%, action9, 30s);
                }
            }
        }
    }
}


@keyframes action1 {
    0% {
        left: -25%;
        bottom: -45%;
    }

    100% {
        left: 60%;
        bottom: 90%;
    }
}

@keyframes action2 {
    0% {
        left: -20%;
        bottom: 60%;
    }

    100% {
        left: 50%;
        bottom: -50%;
    }
}

@keyframes action3 {
    0% {
        left: -20%;
        bottom: 25%;
    }

    100% {
        left: 35%;
        bottom: 90%;
    }
}

@keyframes action4 {
    0% {
        left: 40%;
        bottom: 90%;
    }

    100% {
        left: -25%;
        bottom: 20%;
    }
}

@keyframes action5 {
    0% {
        left: 25%;
        bottom: -30%;
    }

    100% {
        left: 100%;
        bottom: 30%;
    }
}

@keyframes action6 {
    0% {
        left: 80%;
        bottom: 100%;
    }

    100% {
        left: 30%;
        bottom: -40%;
    }
}

@keyframes action7 {
    0% {
        left: 85%;
        bottom: -40%;
    }

    100% {
        left: 40%;
        bottom: 100%;
    }
}

@keyframes action8 {
    0% {
        left: 100%;
        bottom: 0%;
    }

    100% {
        left: 55%;
        bottom: 100%;
    }
}

@keyframes action9 {
    0% {
        left: 35%;
        bottom: -40%;
    }

    100% {
        left: 30%;
        bottom: 100%;
    }
}