header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 999;
    height: 53px;
    border-bottom: 1px solid #eee8f1;
    overflow: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-top {
    @extend .center;
    gap: 10px;

    &__avatar {
        @extend .center;
        --size: 60px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: 1px solid #aaa;
        font-size: 25px;
    }

    &__info {

        span {
            display: block;

            &:first-child {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            &:last-child {
                cursor: pointer;
                background-color: #e74c3c;
                color: #fff;
                padding: 2px 6px;
                font-size: 14px;
                border-radius: 5px;
            }
        }
    }
}

.admin-bottom {

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__link {
        margin-top: 10px;
        font-size: 18px;
        @extend .center;
        gap: 8px;
        justify-content: flex-start;
        color: #71829b;
        text-decoration: none;
    }
}