.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;

    .card-link {
        color: #000;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .card-text {
        color: dimgray;
        text-align: center;

        span {
            font-weight: 600;
        }
    }
}