main {
    position: relative;
}

.group {
    margin-top: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #fafafa;

    @media (max-width: 430px) {
        max-width: 95%;
    }

    &-center {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 5em;
        }
    }

    &-title {
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-content {
        &__group {
            label {
                display: block;
                margin-bottom: 10px;
            }

            input {
                margin-bottom: 15px;
                width: 100%;
                padding: 4px 10px;
                border: 1px solid #000;
                border-radius: 2px;

                &:focus,
                &:focus-visible {
                    outline: none;
                }
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 5px;
            padding-top: 10px;

            button {
                padding: 8px 25px;
                border-radius: 5px;
                background-color: #000;
                cursor: pointer;
                transition: 0.3s;
                border: none;
                color: #fff;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    &-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            cursor: pointer;
        }

        &__link {
            text-decoration: none;
            color: #000;
        }
    }

    &-password {
        display: flex;
        width: 100%;
        border: 1px solid #000;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 15px;

        input {
            width: unset;
            border: none;
            flex: 1;
            margin-bottom: 0;
        }

        &__btn {
            display: block;
            padding: 4px 10px;
            cursor: pointer;
        }
    }
}